/**COLORES**/
.rojo {
    background-color:red
}
.azul{
    background-color:darkblue
}
.amarillo{
    background-color:gold
}

.nav-link{
    color: black !important;
}

.accordion-button:not(.collapsed){
    background-color: rgba(255, 217, 0, 0.422);
    color: black;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none
}

/**TEXTOS**/
h1{
    font-family: poppins;
    color: black
}

h2{
    font-family: poppins;
    font-size: 24px;
    font-weight: normal;
}

h3{
    font-family: poppins;
    font-size: 35px;
    font-weight: bolder;
    color:white
}

h4{
    font-family: poppins;
    font-size: 20px;
    color:black
}

p{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif 
    color:black
}


